[hidden] {
    display: none;
}


#flashAlert {
    position: fixed;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 500ms;

    &.hidden {
        opacity: 0;
    }
}

.navbar .navbar-item .icon {
    margin-right: .25em;
}

.user-avatar {
    display: inline-block;
    vertical-align: middle;
    background-color: #e4e8ee;
    padding: 5px;

    .navbar & {
        width: 40px;
        height: 40px;
    }

    .table & {
        width: 35px;
        height: 35px;
        margin-right: .5em;
        border-radius: 100%;
    }

    &,
    .navbar-item & {
        max-height: none;
    }

    max-width: none;
}

.user-role {
    margin-left: .5em;

    &.admin {
        @extend .is-danger;
    }

    &.supervisor {
        @extend .is-warning;
    }

    &.manager {
        @extend .is-success;
    }
}

.button-confirmation {
    display: inline-block;
}

.upload-dropzone {
    background-color: #FAFAFA;
    padding: 4rem;
    flex-wrap: wrap;
    border: 5px dashed $grey-lighter;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    &.empty {
        flex-direction: column;
        align-items: center;

        &::before {

            content: '';
            @include icon('f382');
            font-size: 4rem;
            color: $grey-lighter;
        }

        &::after {
            content: attr(data-help);
            color: $grey;
            margin-top: 1rem;
        }
    }


    .file-upload {
        @extend .box;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 9rem;
        margin: 1rem;
        position: relative;
        word-break: break-all;

        &.done {

            .progress {
                opacity: 0;

                &.hidden {
                    margin-top: 0;
                    height: 0;
                }
            }

            &::after {
                content: '';
                @include icon('f058');
                color: $success;
                position: absolute;
                font-size: 20px;
                top: 8px;
                right: 8px;
            }
        }

        .progress {
            margin-top: 1rem;
            opacity: 1;
            transition: opacity 750ms ease 500ms, margin 250ms ease, height 250ms ease;
        }

        span {
            opacity: .8;
        }

        .fas {
            font-size: 60px;
            margin-bottom: 1rem;
        }
    }
}

.upload-dropzone__error {
    display: none;
    margin-top: 1rem;

    &.active {
        display: block;
    }
}

.notification.has-icon {
    display: flex;
    align-items: center;

    .notification__icon {
        margin-right: 1rem;
    }

}

.blocks {
    display: flex;

    .block {
        margin-bottom: 0;
        text-align: center;
        padding: 2.5em;
    }

    .block__value {
        font-size: 2em;
        font-weight: bold;
    }

    .block__label {
        text-transform: uppercase;
        font-size: .85em;
        letter-spacing: 1px;
    }

    .block:not(:last-child) {
        margin-right: 2rem;
    }
}


.definitions {

    .definition {
        display: flex;

        &:not(:last-child) {
            margin-bottom: .85em;
        }
    }

    .definition__label {
        flex: 1;
        font-weight: bold;

        &::after {
            content: ': ';
        }
    }

    .definition__value {
        flex: 4;
    }
}

.h-100 {
    height: 100%;
}
