.wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.tagger {
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px 0 0 0;
    max-height: 100%;
    max-width: 100%;
}

.canvas {
    background: linear-gradient(45deg, #ABABAB 25%, transparent 25%), linear-gradient(-45deg, #ABABAB 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ABABAB 75%), linear-gradient(-45deg, transparent 75%, #ABABAB 75%);
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-size: 20px 20px;
}

.bbList {
    width: 25%;
    min-width: 300px;
    padding: 1rem;
    background-color: whitesmoke;
    overflow-y: auto;
    border-radius: 0 5px 5px 0;
}

.boundingBox {
    position: absolute;
    box-shadow: 0 0 0 3px rgb(56, 117, 252);
    pointer-events: none;
    border-radius: 1px;

    &.highlightedBox {
        box-shadow: 0 0 0 3px hsl(48, 100%, 67%);
    }
}

.boxInfo {
    display: flex;
    margin: 1rem 0;
}

.boxIcon {
    background-color: rgba(0, 0, 0, .15);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

.uploading {
    margin-right: .25rem;
}

.toolbox {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    background-color: #e6e6e6;
    border-radius: 0 0 0 5px;
}

.button:not(:last-child) {
    margin-right: .5rem;
}

.imageBg {
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    position: relative;
    display: block;
}
