@import '../variables';

.wrapper {
    @extend .box;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    overflow: hidden;
}

.tagger {
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
    transform-origin: top left;
    background-size: 100% 100%;
}

.canvas {
    overflow: hidden;
    background: linear-gradient(45deg, #f5f5f5 25%, transparent 25%), linear-gradient(-45deg, #f5f5f5 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f5f5f5 75%), linear-gradient(-45deg, transparent 75%, #f5f5f5 75%) #fcfcfc;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-size: 20px 20px;
}

.bbList {
    width: 25%;
    min-width: 300px;
    padding: 1rem;
    background-color: white;
    overflow-y: auto;
}

.boundingBox {
    position: absolute;
    box-shadow: 0 0 0 3px rgb(56, 117, 252);
    pointer-events: none;
    border-radius: 1px;

    &.highlightedBox {
        box-shadow: 0 0 0 3px hsl(48, 100%, 67%);
    }
}

.boxInfo {
    display: flex;
    margin: .5rem 0;
    padding: .5rem;

    &:hover {
        border-radius: 5px;
        background-color: #FAFAFA;
    }
}

.boxIcon {
    background-color: rgba(0, 0, 0, .15);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

.uploading {
    margin-left: .25rem;
}

.toolbox {
    display: flex;
    padding: .5rem;
    background-color: $gray2;
    border-radius: 0 0 0 5px;
    align-items: center;
}

.button:not(:last-child) {
    margin-right: .5rem;
}

.boundingBox,
.tagger {
    transform: scale(1);
    transform-origin: top left;
    transition: all 100ms linear;
}

.buttonGroup:not(:last-child) {
    margin-right: .5rem;
}


.wrapper {
    :global(.buttons) {
        margin-bottom: 0;

        :global(.button) {
            margin-bottom: 0;
        }
    }

}

.label {
    font-weight: bold;
    text-transform: uppercase;
    color: #8f8f8f;
    font-size: .9em;
}

.author {
    color: #a6a6a6;
}

.author strong {
    color: #8f8f8f;
}
