@import '../variables';

.toggler {
    cursor: default;

}


.treeview {
    position: relative;
    background: repeating-linear-gradient(
            to bottom,
            transparent,
            transparent 45px,
            $gray4 45px,
            $gray4 90px
    );
    padding-right: 1.25rem;
}
