@import '../../variables';

.bbList {
    width: 25%;
    min-width: 300px;
    padding: 1rem;
    background-color: white;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
    color: #8f8f8f;
    font-size: .9em;
}
