.home_buttons {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $grey-lightest;
}

.home_buttons_feedback {
    color: $grey-light;
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}

.home_button {
    align-items: center;
    display: flex;
    border-radius: 100px;
    color: $white;
    margin-right: 1rem;
    padding: .5rem .9rem;

    &:last-child {
        margin-right: 0;
    }

    &.has-background-warning, &.has-background-warning:hover {
        color: $grey-dark;
    }

    &:hover {
        filter: brightness(1.05);
        color: $white;
    }

    .icon {
        margin-right: .3em;
        opacity: .8;
    }
}

.home_button__label {
    font-size: .9rem;
}

.manager__feedback {
    margin-right: .25rem;
}

#dashboard section:not(:last-child) {
    margin-bottom: 3rem;
}
