#panel {
    margin: 0;
    align-items: stretch;
    min-height: 75vh;

    .container {
        margin: 2rem 5rem;
    }
}

#sidebar {
    padding: 3rem;
    background: $gray2;
    margin-bottom: 0;
}


.thumbnail {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: $radius;
}
